<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	    <contexts>
		        <context type="NorthWind.Contexts.NorthWindContext, NorthWindContext"></context>
		   
	</contexts>    
	    <connectionStrings>
		        <add name="Default" connectionString="Server=(localdb)\NorthWindData;Integrated Security=true;"/>
		   
	</connectionStrings>
</configuration>